/* This is my first css file */

body{
    background-color: rgb(79, 153, 107);
    max-width: 1000px;
    margin: auto;
}

h1{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

h2,h4{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
} 

.container{
    background-color: transparent;
    text-align: center;
    margin: 200px 0px 5px 0px;
}   

.container1{
    background-color: transparent;
    text-align: center;
    margin: auto;
}  

/* for screens between 390 to 430 px */
@media screen and (max-width: 430px) and (min-width: 390px) {
    .vega-embed.has-actions {
        width: 360px;
    }
}

/* for screens 389 px and below*/
@media screen and (max-width: 389px) {
    .vega-embed.has-actions {
        width: 340px;
    }
}

/* for screens 450 px and below */
@media screen and (max-width: 450px) {
    h1{
        font-size: 40px;
    } 
  
    h2{
        font-size: 25px;
    } 
  
    h3{
        font-size: 15px;
    } 
    p{
        font-size: 17px;
    }
}

